@media screen and (min-width: 750px){
  .hero-text h1{
    font-size: 3rem;
  }
  .hero-text h2 {
    font-size: 1.3rem;
  }
  .content {
    max-width: 66vw;
  }
  #about p{
    font-size: 1.5rem;
  }
  .fixed-ul{
    max-width: 66vw;
    font-size: 1.8rem;
  }
  #projects-section{
    height: 145em;
  }
  .section{
    height: 60em;
  }
  .contact-ul li {
    padding: 65px;
  }
}

@media screen and (min-width: 1000px){
  .hero-text h1{
    font-size: 4rem;
  }
  .hero-text h2 {
    font-size: 1.7rem;
  }
  .content {
    max-width: 66vw;
  }
  #about p{
    font-size: 1.8rem;
  } 
  .fixed-ul{
    font-size: 2rem;
  }
  .section{
    height: 60em;
  }
  #projects-section{
    height: 155em;
  }
  .normalSizedLogo{
    height: 120%;
  }
  .smallImg {
    height: 120px;
  }
  .project-container p {
    font-size: 1.2em;
  }
  footer{
    font-size: 2vw;
  }
}

@media screen and (min-width: 1200px){
  .content {
    max-width: 50vw;
  }

}
@media screen and (min-width: 1400px){
  #projects-section{
    height: 165em;
  }

}
@media screen and (min-width: 1500px){
  #projects-section{
    height: 175em;
  }

}
@media screen and (min-width: 1500px){
  #projects-section{
    height: 175em;
  }

}
@media screen and (min-width: 1650px){
  #projects-section{
    height: 185em;
  }

}
@media screen and (min-width: 1800px){
  #projects-section{
    height: 200em;
  }

}
